{% extends 'base.html' %}

{%block title%}Url Shortener{%endblock%}

{% block obsah %}

<h1>Url Shortener</h1>

<form method="post">

  <table>
    <tr>
      <td>url:</td>
      <td><input type="text" name="url_long"></td>
    </tr>
      <td>Zkrácené url:</td>
      {% if url_short%}
      <td><a href="http://127.0.0.1:5000/{{url_short}}"+url_short">http://127.0.0.1:5000/{{url_short}}</td>
      {% endif %}
    <tr>
      <td><button>Zkrať</button></td>
    </tr>

  </table>

{% for long_url, short_url in response %}
<div class="urls">
<p class="url">url: {{long_url}}</p>
<p class="url">zkrácené url: http://127.0.0.1:5000/{{short_url}}</p>

</div>
{% endfor %}

{% endblock obsah %}
